{% extends "main.html" %}

{% block content %}
<h3> Edit Trip Info</h3>
<p>Driver: {{tripData.Driver}} &nbsp; <a href="/deleteTrip?date={{tripData.date}}">Delete Trip</a></p>

<form method='post' action='/updateTripInfo'>
    <div class="form-group">
        <label for="newDate">Date</label>
        <input value={{tripData.date}} name='date' size='6' readonly class="form-control">
    </div>
    <div class="form-group">
        <label for="newDriver">Driver</label>
        <input value={{tripData.driver}} name='newDriver' size='6' class="form-control">
    </div>
    <div class="form-group">
        <label for="newMiles">Miles</label>
        <input value={{tripData.miles}} name='newMiles' size='6' class="form-control">
    </div>
    <div class="form-group">
        <label for="newGallons">Gallons</label>
        <input value={{tripData.gallons}} name='newGallons' size='6' class="form-control">
    </div>
    <input type='submit' class="btn btn-default">
</form>


{% endblock %}
