{% extends "main.html" %}

{% block content %}

<!-- called by get by major link in nav bar -->
<h3>Get Students by Major</h3>
<p>Use the select list to filter students by major.</p>
<p>
<form method='post' action='/getByCity'>
    <div class="form-group">
        <label for="city" class="form-label">City:</label><br>
            <select class='select' name='city' class="form-control-large">
            <option value='chicago'>Chicago</option>
            <option value='nashville'>Nashville</option>
            <option value='cincinnati'>Cincinnati</option>
            <option value='indianapolis'>Indianapolis</option>
            </select>
        </div>

<p><input type='submit'></p>
</form>

{% endblock %}

